#!/bin/sh
[[ -f ~/.config/zsh/.zshenv ]] && source ~/.config/zsh/.zshenv

xrdb -merge ~/.cache/wal/colors.Xresources
xrdb -load ~/.Xresources
setxkbmap fr
picom --config ~/.config/picom/picom.conf &
nm-applet &
